<aside class="sectionFavorite">
  <ul class="listFavorite js__listFavorite">
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
  </ul>
</aside>
<section class="sectionMain">
  <ul class="listMain js__listMain">
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>
    <li>
      <img
        src="./assets/images/mickey.jpeg"
        alt="mickey"
        class="characterImg"
      />
      <div>
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack"></i>
        <p>Ejemplo name</p>
      </div>
    </li>

  </ul>
</section>
