<aside class="sectionFavorite">
  <div class="favoriteTitleContainer">
    <h3 class="sectionTitle">Favorites</h3>
    <i class="fa-solid fa-heart"></i>
  </div>
  <ul class="listFavorite js__listFavorite">
   <!-- <li>
      <div class="imgContainer">
        <img
          src="./assets/images/mickey.jpeg"
          alt="mickey"
          class="characterImg"
        />
      </div>
      <div class="nameContainer">
        <i class="fa-solid fa-heart"></i>
        <i class="fa-solid fa-heart-crack hidden"></i>
        <p>Ejemplo name</p>
      </div>
    </li>-->
  </ul>
</aside>
<section class="sectionMain">
  <h3 class="sectionTitle">Characters</h3>
  <ul class="listMain js__listMain"></ul>
</section>
