:root{
    font-size: 62.5;
    font-family: 'Roboto Condensed', sans-serif;
}

//COLORES
$title: black;
$paragraph: rgb(65, 62, 62);
$background: rgb(238, 238, 127);
$border: rgb(226, 97, 97);
$favoriteBackground: rgb(126, 126, 213);