.footer {
    height: 20px;
    padding: 10px $paddingAndCentralColumn;
    border-top: 2px solid $border;
    background-color: $background;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
        color: $paragraph;
        font-size: 0.9rem;
    }
    &__icon {
        margin: 0 3px;
    }
}

