//refactorizar scss with &
.main {
  display: flex;
  padding: $paddingAndCentralColumn 0 60px;
  background-color: rgb(246, 238, 236);
}
.sectionFavorite {
  padding: 0px $paddingAndCentralColumn;
  width: fit-content;
}
.sectionMain {
  padding: 0 $paddingAndCentralColumn;
  width: fit-content;
}
.sectionTitle {
  text-align: center;
  padding: $paddingAndCentralColumn 0;
  font-weight: bold;
  padding-right: 5px;
}
.favoriteTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listFavorite {
  display: flex;
  flex-direction: column;
  gap: $paddingAndCentralColumn;
}
.listMain {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: $paddingAndCentralColumn;
}
.card {
  background-color: white;
  padding: $paddingAndCentralColumn $paddingAndCentralColumn 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 150px;
  cursor: pointer;
  &__favorite {
    background-color: #000000;
  }
  &__imgContainer {
    height: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    & .characterImg {
      height: 150px;
    }
  }
  &__nameContainer {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    & .white {
      color: white;
    }
  }
}
.hidden {
  display: none;
}